<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="reading">
    <div class="my-auto">
        <h2 class="mb-5">Bookshelf</h2>
        <style type="text/css" media="screen">
            .gr_grid_container {
                /* customize grid container div here. eg: width: 500px; */
            }

            .gr_grid_book_container {
                /* customize book cover container div here */
                float: left;
                width: 98px;
                height: 160px;
                padding: 0px 0px;
                overflow: hidden;
            }
        </style>
        <div id="gr_grid_widget_1583406530">
            <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <div class="gr_grid_container">
                <div class="gr_grid_book_container">
                </div>
                <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Dominic, and even
                    join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
            </div>

        </div>
        <script
            src="https://www.goodreads.com/review/grid_widget/104535350.Dominic's%20bookshelf:%20read?cover_size=medium&hide_link=true&hide_title=true&num_books=200&order=a&shelf=read&sort=date_added&widget_id=1583406530"
            type="text/javascript" charset="utf-8"></script>
    </div>
</section>